.calculadora{

display: flex;
align-items: center;
flex-direction: column;
padding-top: 100px;
}
.primeiro{

    align-items: center;
    display: flex;
}
.segundo{
display: flex;
align-items: center;
}
.terceiro{
display: flex;
align-items: center;
}
.botao{
   background-color: rgb(8, 192, 8);
   color: white;
}
